* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(120deg, #6d597a, #b56576);
  color: #eeeae8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 0;
}

/* Form style */

form {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  form {
    flex-direction: row;
  }
}

.text-area {
  height: 2rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 520px) {
  .text-area {
    width: 50%;
  }
}

@media screen and (min-width: 860px) {
  .text-area {
    width: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  .text-area {
    margin: 0 5rem;
  }
}

.todo-input,
.todo-button {
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #eeeae8;
  color: #355070;
}
.todo-button {
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.todo-button:hover {
  background: #355070;
  color: #eeeae8;
}

.todo-input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* Select style */

.select {
  width: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (min-width: 520px) {
  .select {
    width: 30%;
  }
}

@media screen and (min-width: 860px) {
  .select {
    width: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .select {
    margin: 0;
  }
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: #355070;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all 0.6s ease-in-out;
}

.select:hover::after {
  background: #355070;
  color: #eeeae8;
}

select {
  -webkit-apperanece: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
select {
  color: #355070;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  width: 100%;
}

/* To do container */

.todo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* overflow-y: scroll; */
}

.todo-item {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(109, 89, 122, 0.7);
  font-size: 1.2rem;
  color: #eeeae8;
  transition: all 0.6s ease-in-out;
}

.todo {
  display: flex;
  justify-content: center;
}
.error-info,
.popup-info {
  background: #355070;
  color: #eeeae8;
  font-size: 1rem;
}
.todos__list {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  font-size: 1rem;
}

.trash-btn,
.complete-btn,
.change-btn {
  background-color: rgba(109, 89, 122, 0.1);
  color: #355070;
  font-size: 2rem;
  border: none;
  padding: 0.1rem 0.6rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.change-btn {
  font-size: 1.4rem;
  font-weight: bolder;
}
.trash-btn:hover,
.complete-btn:hover,
.change-btn:hover {
  background-color: #355070;
  color: #eeeae8;
}

.fa-check-circle,
.fa-minus-circle {
  pointer-events: none;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.fall {
  transform: translateY(8rem) rotateZ(25deg);
  opacity: 0;
}

/* .popup {
  display: none;
} */

.popup {
  width: 90%;
  height: 30vh;
  position: absolute;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #355070;
  background-color: #eeeae8;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.popup-body {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-body input {
  margin: 0.5rem 0rem;
  width: 100%;
  height: 2rem;
  border: 1px solid #355070;
  font-size: 1.2rem;
}

.popup-btn {
  background: #355070;
  margin: 1rem 0rem;
  font-size: 1rem;
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.popup-btn:hover {
  background: #1b2b3f;
  color: #eeeae8;
}  

.popup.active {
  display: flex;
  transform: translateY(50%);
  opacity: 1;
}