* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(120deg, #6d597a, #b56576);
  color: #eeeae8;
}

header {
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem 0;
}

form {
  min-height: 15vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button,
form input {
  height: 3rem;
  font-size: 1.8rem;
  border: none;
  background-color: #eeeae8;
}
form input {
  color: #355070;
}
form button {
  color: #355070;
  background: #eeeae8;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
form button:hover {
  background: #355070;
  color: #eeeae8;
}
.fa-plus-circle {
  padding: 0 0.2rem;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 60%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: rgba(109, 89, 122, 0.4);
  color: #eeeae8;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.todo li {
  flex: 1;
}
.todo-item {
  padding: 0 0.7rem;
}
.trash-btn,
.complete-btn {
  background-color: rgba(109, 89, 122, 0.1);
  color: #355070;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.trash-btn:hover,
.complete-btn:hover {
  background-color: #355070;
  color: #eeeae8;
}
.fa-check-circle,
.fa-minus-circle {
  font-size: 1.8rem;
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.fall {
  transform: translateY(8rem) rotateZ(25deg);
  opacity: 0;
}
select {
  -webkit-apperanece: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 0 2rem;
  overflow: hidden;
  position: relative;
}
select {
  color: #355070;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem 3rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: #355070;
  padding: 1.1rem;
  pointer-events: none;
  transition: all 0.6s ease-in-out;
}
.select:hover::after {
  background: #355070;
  color: #eeeae8;
}

@media screen and (max-width: 823px) {
  form {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 710px) {
  form button,
  form input {
    height: 2rem;
    font-size: 1.5rem;
  }
  form input {
    width: 70%;
  }
  header {
    font-size: 1.4rem;
  }
  .filter-todo {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }
  .select::after {
    padding: 0.6rem;
  }
  .todo-list {
    min-width: 80%;
  }
  .todo-item {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    height: 1.5rem;
  }
  .fa-check-circle,
  .fa-minus-circle {
    font-size: 1.5rem;
  }
  .todo-container {
    margin-top: 2rem;
  }
}
